In [1]:
import pandas as pd
import numpy as np
import import_ipynb
from Lib_final_test import *

importing Jupyter notebook from Lib_final_test.ipynb

In [2]:
#Load data test và clean 
df = load_n_clean_data_test('House_test.xlsx')

In [3]:
print(df.shape)
df.head(2)

(1458, 8)

,Gia,Nha_ve_sinh,Cau_truc,Dien_tich,Dien_tich_su_dung,Hem_duong,Duong,Dia_diem
0,3800.0,1,2.0,47.6,95.3,2.0,Đường Phạm Văn Chiêu,"Quận Gò Vấp, Phường 14"
1,11000.0,11,4.0,56.6,186.0,4.0,Đường Cao Thắng,"Quận Phú Nhuận, Phường 17"

In [4]:
df.tail(2)

,Gia,Nha_ve_sinh,Cau_truc,Dien_tich,Dien_tich_su_dung,Hem_duong,Duong,Dia_diem
1456,47000.0,4,2.5,660.0,83.5,5.0,Đường Số 24,"Quận Thủ Đức, Phường Linh Đông"
1457,5700.0,4,3.0,44.7,134.1,3.0,Đường Tôn Thất Thuyết,"Quận 4, Phường 3"

In [5]:
# df.info()

In [6]:
# Split input/output
X = df.drop('Gia',axis=1)
y = df['Gia']

In [7]:
X.shape, y.shape

((1458, 7), (1458,))

In [8]:
import pickle
### Load model bbc_model.pkl
with open('house_xgb_model_DamThiMinhPhuong_K269.pkl', 'rb') as file: 
    xgb_pipe = pickle.load(file)

In [9]:
regression_model_evaluation2(xgb_pipe,X,y)

        R2_score         rmse
Result   0.58826  5907.641737

### EM CÁM ƠN THẦY VÀ CHÚC THẦY THẬT NHIỀU SỨC KHỎE !!